* {
    margin: 0;
    padding: 0;
    
    
    }
    body { font-family: sans-serif;
        line-height: 1.4;
        color:#333;
    overflow-x:hidden ;
    }
    .bg-light{ 
         background: #160202;
         color:rgb(238, 157, 220);
    }
    
    /* Classes*/
    .container{max-width: 1100px;
        margin: auto;
    
    }
    .text-primary{
        color:3693ff
    }
    /* navbar*/
    #navbar{ 
    display:flex;
    justify-content: space-between;
    background: rgb(233, 76, 154);
    color:rgb(196, 187, 230);
    padding: 1.5rem  8rem;
    position:sticky;
    top:0;
    z-index: 1;
    border-bottom:3px solid  #0f0a0f5b;
    }
    
    #navbar ul { 
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    #navbar h2 a{ 
        color:rgb(32, 21, 31);
        text-decoration: none;
    }
     #navbar li a{ 
         text-decoration: none;
         color:#ebe2e8;
         padding:1rem;
         font-size :1.3rem;
         margin: 0 0.5rem;
         border-radius :5px;
         transition: -0.3s;
     }
     #navbar li a:hover { 
    background-color: #3693ff;
     }
     /* showcase area */
     #showcase {
         background: url("../img/Copy\ of\ 4D8A2116.JPG");
         height:100vh;
     }
     .showcase-content{
    
            display: flex;
            flex-direction:column ;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 81px;
            left:0 ;
            right: 0;
            bottom:0 ;
            background:rgba(0, 0, 0, 0.6);
            color:#fff;
        }
        .showcase-content h1{ 
            font: size 4rem;
            margin: bottom 2rem; }
    
    .showcase-content .btn{
        font-size: 1.5rem;
        padding: 1rem 10 rem;
        transition: color 0.3s background 0.3s;
    }
     
    
    .showcase-content .btn :hover{
        background: #ff36d3;
        color:rgb(19, 16, 16)
    }
    .btn{
        color: #fafafa;
        text-decoration: none;
        display:inline-block;
        padding: 1rem 10rem ;
        border: 1px solid #ff36d3;
        border-radius: 10px; 
        font-weight: bold;
    }
    /* section project */
    #project{
        padding:5rem 0;
        background-color: rgb(235, 157, 235);
        text-align: center;

        
    
    }
    #project h2 , { 
        text-align:center ;
        font-size: 3rem;
        margin:3rem ;
        
    }
    #project h3 {
        font-size: 2rem;
        margin: 1rem;
    
    }
    #project p.lead {
        margin-bottom: 1rem;
    
    }
    #project .about-content {
        display: flex;
    
    }
    
    #project .about-text{ 
        text-align:center;
    }
    /* sevices*/
    #skills{
        padding:5rem 0;
        background-color: rgb(255, 220, 245);
        text-align: center;
    }
    #skills .content{ 
        text-align: center;
    }
    #skills h3{ 
        text-align: center;
        margin-bottom: 2rem;
        font-size:2rem;
    
    }
    #skills .boxes { 
        display:flex;
        text-align: center;
    }
    #skills.box{
       background:  #fff;
       flex:1;
       padding: 3rem;
       margin:0 3rem;
       border-radius:10px;
       box-shadow: 2px 2px 5px #d1d1d1;
       font-size : 3rem;
       text-align: center;
    }
    #skills.box i {
            color:rgb(150, 93, 145);
            padding: 1rem;
            background: #3693ff;
            border-radius:  50%;
            margin:0 1rem;
            margin-bottom: 2rem;
            text-align: center;
    }
    
    /* TESTIMONIOLES */
    #Testimoniols { 
        background-color: rgb(236, 160, 230);
        height: 50VH;
        text-align: center;
    
    }
    
    .Testimoniols-bg{ 
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(30, 183, 210);
        padding: 5REM 0;
    }
    
    #Testimoniols.BOXES {
        display: flex;
        FLEX-DIRECTION: column;
        
    }
    
    
    #Testimoniols.BOX {
        background: crimson;
        display: flex;
        padding: 2REM;
        align-items: center;
        border-radius: 15px;}
    
        #Testimoniols h2{
            text-align: center;
    
        }
    
        /* conact*/
    
    #Contact{
        padding: 5REM 0;
        background-color: #767a7a;
        border-bottom: 22.5rem;
        text-align: center;
    }
    
    
    #Contact h2{
        text-align: center;
        font-size:16px ;
        margin-bottom: 8rem;
    
    }
    #Contact h3{
        text-align: center;
        font-size:2.5rem ;
        margin-bottom: 3rem 0;
        
    
    }
    
    
    
    
    /* footer */
    
    footer {
        background: #ece9ec;
        padding: 2.5rem;
    }
    footer {
        text-align:center;
    }
    footer a .fab {
        color: white;
    }